.linebreak {
    font-family: 'Redacted Script', cursive;
}
.header{
    font-family:'Pacifico',cursive;
    color: brown;
}
p{
    font-family: 'Pacifico';
}



.cont{
    margin-top:200px;
}
.hero{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    height: auto;
}
.hero-header{
    position:relative;
    margin-left: 0px;
    text-align: center;
    margin-top: -580px;
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif; 
    font-size: 55px;
    color: white;
}
.butty{
    margin-left: 660px;
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px;
    background-color: transparent;
    border-style: solid;
    border-color: black;
    color: white;
    border-radius: 20px;
    padding:4px 4px 4px 4px;
}
.butty:hover{
    background-color: black;
    transition: 0.8s;
    cursor: pointer;
}
.Building{
    margin-top: 420px;
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    font-size: 40px;
}
.contentbro{
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
}
.contentbro2{
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-left: 900px;
    margin-top: -155px;
}
.contentbro3{
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-top: 60px;
    margin-left: 30px;
}
.contentbro4{
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-left: 900px;
    margin-top: -160px;
    margin-bottom: 120px;
}
.knowmore{
    color: blue;
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 4px;
    background-color: transparent;
    border-color: blue;
}
.select{
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 480px;
}
.cardimage{
    width:300px;
    height: 80%;
    border-radius: 10px;
}
.card1{
    margin-left: 200px;
    margin-top: 60px;
}
.card2{
    position: relative;
    margin-left: 600px;
    margin-top: -536px;
}
.card3{
    position: relative;
    margin-left: 1000px;
    margin-top: -536px;
}
.build{
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
.price{
    font-family: 'Irish Grover', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}